:root {
    --surface-0: #170E19;
    --surface-1: #2F213B;
    --surface-2: #433A60;
    --surface-3: #4F5277;
    --surface-4: #65738C;
    --surface-5: #7C94A1;

    --text-0: #A0B9BA;
    --text-1: #C0D1CC;

    --primary-0: #213B25;
    --primary-1: #3A604A;
    --primary-2: #4F7754;

    --red-0: #3B2137;
    --red-1: #603B3A;
    --red-2: #775C4F;


    --pixel-border: 0px 8px 0px 0px var(--button-colour),
                    -8px 0 0px 0px var(--button-colour),
                    8px 0 0px 0px var(--button-colour),
                    0px -8px 0px 0px var(--button-colour);
    --pixel-border-with-shadow: 0px 8px 0px 0px var(--button-colour),
                                -8px 0 0px 0px var(--button-colour),
                                8px 0 0px 0px var(--button-colour),
                                0px -8px 0px 0px var(--button-colour),
                                -8px 8px 0px 0px var(--button-shadow),
                                8px 8px 0px 0px var(--button-shadow),
                                0px 16px 0px 0px var(--button-shadow);
}

body {
    background: radial-gradient(circle, var(--surface-0) 0%, var(--surface-0) 30%, #000000 100%);;
    color: var(--text-1);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    --test: 64px;
    box-sizing: border-box;
    margin: var(--test-test);
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

//
// Button
//

button {
    --button-colour: var(--primary-2);
    --button-shadow: var(--primary-1);
    margin: 8px 8px 16px 8px;
    border: none;
    color: var(--text-1);
    padding: 4px 8px;
    font-size: 24px;

    background-color: var(--button-colour);
    box-shadow: 0px 8px 0px 0px var(--button-colour),
                -8px 0 0px 0px var(--button-colour),
                8px 0 0px 0px var(--button-colour),
                0px -8px 0px 0px var(--button-colour),
                -8px 8px 0px 0px var(--button-shadow),
                8px 8px 0px 0px var(--button-shadow),
                0px 16px 0px 0px var(--button-shadow);
    transition: transform 0.1s, box-shadow 0.1s;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(8px);
	box-shadow: 0px 8px 0px 0px var(--button-colour),
                -8px 0 0px 0px var(--button-colour),
                8px 0 0px 0px var(--button-colour),
                0px -8px 0px 0px var(--button-colour);
}

button:disabled {
    transform: translateY(8px);
    filter: grayscale(0.5);
    cursor: not-allowed;
    box-shadow: 0px 8px 0px 0px var(--button-colour),
                -8px 0 0px 0px var(--button-colour),
                8px 0 0px 0px var(--button-colour),
                0px -8px 0px 0px var(--button-colour);
}

.btn-red {
    --button-colour: var(--red-2);
    --button-shadow: var(--red-1);
}
.btn-blue {
    --button-colour: var(--surface-5);
    --button-shadow: var(--surface-4);
}
.btn-green {
    --button-colour: var(--primary-2);
    --button-shadow: var(--primary-0);
}

//
// Panel
//
.panel {
    --panel-colour: var(--surface-1);
    padding: 16px;
    margin: 8px;
    background-color: var(--panel-colour);
    box-shadow: 0px 8px 0px 0px var(--panel-colour),
				-8px 0 0px 0px var(--panel-colour),
				8px 0 0px 0px var(--panel-colour),
				0px -8px 0px 0px var(--panel-colour),
				-8px 8px 0px 0px rgba(0,0,0,0.4),
				8px 8px 0px 0px rgba(0,0,0,0.4),
				0px 16px 0px 0px rgba(0,0,0,0.4); 
}

.panel-2 { --panel-colour: var(--surface-2); }
.panel-3 { --panel-colour: var(--surface-3); }
.panel-4 { --panel-colour: var(--surface-4); }

//
// Input
//
input {
    margin: 8px 0px;
    border: none;
    color: var(--surface-1);
    padding: 4px 8px;
    font-size: 24px;

    background-color: var(--text-1);
    box-shadow: 0px 8px 0px 0px var(--text-1),
				-8px 0 0px 0px var(--text-1),
				8px 0 0px 0px var(--text-1),
				0px -8px 0px 0px var(--text-1);
}

input:focus {
    outline: none;
}